<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>

    <body>
        <%- include('./partials/nav.ejs') %>
        
        <div class="w-25 mx-auto">
            <h1 class="home-heading text-center my-5">Welcome to virtual trading app</h1>
            <div class="home-login-buttons mx-auto">
                <a href="/login" class="btn btn-dark d-inline-block">Login</a>
                <a href="/register" class="btn btn-dark d-inline-block">Register</a>
            </div>
        </div>
               
        <%- include('./partials/footer.ejs') %>
    </body>
</html>
