<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>

    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <!-- <a class="navbar-brand" href="#">LOGO</a> -->
            <a href="#"><img src="/logo.png" alt="" class="logo"></a>

            <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto">
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li> -->
                    <li class="text-light h4">Virtual Trading App</li>
                </ul>
                <div>
                    <!-- <a href="/login" class="btn btn-primary mr-2">Login</a>
                    <a href="/register" class="btn btn-primary">Register</a> -->
                    <a href="/login" class="btn btn-primary">Login</a>
                </div>
            </div>
        </nav>

        <form class="login-form my-5 mx-auto border p-4 rounded" action="/register" method="POST">
            <h1 class="text-center">Register</h1>
            <!-- <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control w-75" id="username" placeholder="Enter username" name="username" />
            </div> -->
            <div class="form-group">
                <label for="mobile">Mobile No.</label>
                <div class="otp-flex">
                    <input type="text" class="form-control w-75" id="mobile-box" placeholder="Enter mobile no." name="mobile" />
                    <button class="btn btn-light ml-2" id="send-mobile-otp">Send OTP</button>
                </div>
                <div class="otp-items">
                  <input type="text" id="mobile-otp-box" placeholder="Enter OTP"/>
                  <button class="btn otp-button" id="check-mobile-otp">Check OTP</button>
              </div>
            </div>
            <div class="form-group">
                <label for="email">Email ID</label>
                <div class="otp-flex">
                    <input type="email" class="form-control w-75" id="email-box" placeholder="Enter Email ID" name="email" />
                    <button class="btn btn-light ml-2" id="send-mail-otp">Send OTP</button>
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="green" class="bi bi-check mr-5" id="mail-checkMark" viewBox="0 0 16 16">
                        <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
                    </svg>
                </div>
                <div class="otp-items">
                    <input type="text" id="email-otp-box" placeholder="Enter OTP"/>
                    <!-- <button type="submit" class="otp-button" name="button" value="emailButton">Check OTP</button> -->
                    <button class="btn otp-button" id="check-mail-otp">Check OTP</button>
                </div>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control w-75" id="password" placeholder="Enter Password" name="password" />
            </div>
            <!-- <div class="form-check mb-2">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Remember Me</label>
            </div> -->
            <div class="login-buttons">
                <div onclick="registerSubmit()" class="btn btn-dark">Register</div>
                <!-- <a href="/login" class="text-danger">Login</a> -->
            </div>
            <div class="errorDiv text-danger"></div>
        </form>
        <i class="bi bi-check">hi</i>
        <%- include('./partials/footer.ejs') %> 

        <script>
            
            
            // for (let i = 0; i < buttons.length; i++) {
            //     buttons[i].addEventListener("click", otp);
            // }

            // function mailOTP() {
            //     const form = document.getElementsByClassName("login-form")[0];
            //     form.method = "POST";
            //     form.action = "/mail";
            //     form.submit();

            // }

            
        </script>
    </body>
</html>
