<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

<body>
    <form class="login-form my-5 mx-auto border p-5 rounded" action="">
        <h1 class="text-center">Verify OTP</h1>
        <!-- <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control w-75" id="username" placeholder="Enter username" name="username" />
        </div> -->
        <div class="form-group">
            <label for="mobile">Mobile OTP</label>
            <div class="otp-flex">
                <input type="text" class="form-control w-75" id="mobileOTP" placeholder="Enter OTP" name="mobileOTP" />
            </div>
        </div>
        <div class="form-group">
            <label for="email">Email OTP</label>
            <div class="otp-flex">
                <input type="email" class="form-control w-75" id="emailOTP" placeholder="Enter OTP" name="emailOTP" />
            </div>
        </div>
        
        <div onclick="verifyMail()" class="btn btn-dark check-otp">Check otp</div>

    </form>

    <h1 class="verifiedtext text-danger">OTP verified</h1>

    <script>
        function verifyMail(){
            if(document.getElementById("emailOTP").value == '<%= otp %>'){
                console.log("OTP verified");
                document.getElementsByClassName("verifiedtext")[0].style.display = "block";
                // location.href("");
            }else {
                console.log('<%= otp %>')
                console.log("Wrong OTP");
            }
        }
    </script>
</body>
</html>