.login-form {
    width: 40%;
}

.login-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.home-login-buttons {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.home-login-buttons a {
    display: block;
    width: 80px;
}

.otp-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.otp-items {
    /* display: none; */
    margin-top: 10px;
}